In [1]:
# name:-Arushi gupta
# roll number=:102053020
# batch :- 2CO5
# Assignment 1

In [2]:
#q1
x,n=map(int,input('enter the value of x and n ').split())
total=1
fact=1
print("(1)",end="+")
temp=x
for i in range(1,n+1):
 print(f"({x}/{fact})",end="+")
 total+=(x/fact)
 fact=fact*(i+1)
 x=temp**(i+1)
print("\b=")
print(f"\nthe ans is {total}")

enter the value of x and n 5 6
(1)+(5/1)+(25/2)+(125/6)+(625/24)+(3125/120)+(15625/720)=

the ans is 113.11805555555556

In [4]:
#q2
import sympy as p
import random
odd=[]
even=[]
prime=[]
for i in range(100):
     integer=random.randint(100,900)
     if integer%2==0:
         even.append(integer)
     else:
         odd.append(integer)
     if p.isprime(integer):
         prime.append(integer)
print(f"there were {len(even)} number of even numbers generated and as follows :- {even}")
print(f"\nthere were {len(odd)} number of odd numbers generated and as follows :- {odd}")
print(f"\nthere were {len(prime)} number of prime numbers generated and as follows :- {prime}")

there were 48 number of even numbers generated and as follows :- [836, 208, 838, 606, 802, 630, 382, 512, 680, 816, 766, 484, 536, 780, 228, 740, 346, 900, 218, 458, 244, 616, 458, 842, 370, 756, 346, 344, 402, 670, 242, 110, 272, 636, 628, 394, 424, 690, 890, 338, 386, 732, 144, 542, 624, 156, 160, 188]

there were 52 number of odd numbers generated and as follows :- [409, 175, 241, 345, 161, 527, 189, 223, 877, 791, 531, 537, 693, 579, 843, 609, 275, 893, 571, 179, 459, 289, 221, 153, 199, 101, 707, 183, 199, 683, 863, 301, 555, 225, 163, 753, 897, 147, 705, 375, 759, 889, 861, 529, 247, 401, 383, 159, 275, 569, 441, 455]

there were 15 number of prime numbers generated and as follows :- [409, 241, 223, 877, 571, 179, 199, 101, 199, 683, 863, 163, 401, 383, 569]

In [9]:
#q3
import sympy as p
prime=[]
a,b=map(int,input('enter the two numbers in between whose prime numbers are to be found ').split())
for i in range(a,b+1):
    if p.isprime(i):
        prime.append(i)
print(prime)

enter the two numbers in between whose prime numbers are to be found 1 100
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [10]:
#q4
list1=[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
list2=[10, 25 , 30, 12, 58, 36, 91, 21, 39, 90, 89, 34, 69, 43, 42, 99, 102, 110, 53 ]
list_common=[]
for i in list1:
    if i in list2:
        list_common.append(i)
print(f"the common elements are {list_common}")

the common elements are [10, 25, 30, 90]

In [12]:
#q5
def is_leap(year):
    leap = False
    if year%4==0:
        leap=True
        if year %100==0:
            leap=False
            if year %400==0:
                leap=True
    return leap
years=[]
a,b=map(int,input('enter the two numbers in between whose leap years are to be found ').split())
for i in range(a,b+1):
    if is_leap(i):
        years.append(i)
print(f'the leap years between {a}-{b} are {years}')

enter the two numbers in between whose leap years are to be found 1000 2000
the leap years between 1000-2000 are [1004, 1008, 1012, 1016, 1020, 1024, 1028, 1032, 1036, 1040, 1044, 1048, 1052, 1056, 1060, 1064, 1068, 1072, 1076, 1080, 1084, 1088, 1092, 1096, 1104, 1108, 1112, 1116, 1120, 1124, 1128, 1132, 1136, 1140, 1144, 1148, 1152, 1156, 1160, 1164, 1168, 1172, 1176, 1180, 1184, 1188, 1192, 1196, 1200, 1204, 1208, 1212, 1216, 1220, 1224, 1228, 1232, 1236, 1240, 1244, 1248, 1252, 1256, 1260, 1264, 1268, 1272, 1276, 1280, 1284, 1288, 1292, 1296, 1304, 1308, 1312, 1316, 1320, 1324, 1328, 1332, 1336, 1340, 1344, 1348, 1352, 1356, 1360, 1364, 1368, 1372, 1376, 1380, 1384, 1388, 1392, 1396, 1404, 1408, 1412, 1416, 1420, 1424, 1428, 1432, 1436, 1440, 1444, 1448, 1452, 1456, 1460, 1464, 1468, 1472, 1476, 1480, 1484, 1488, 1492, 1496, 1504, 1508, 1512, 1516, 1520, 1524, 1528, 1532, 1536, 1540, 1544, 1548, 1552, 1556, 1560, 1564, 1568, 1572, 1576, 1580, 1584, 1588, 1592, 1596, 1600, 1604, 1608, 1612, 1616, 1620, 1624, 1628, 1632, 1636, 1640, 1644, 1648, 1652, 1656, 1660, 1664, 1668, 1672, 1676, 1680, 1684, 1688, 1692, 1696, 1704, 1708, 1712, 1716, 1720, 1724, 1728, 1732, 1736, 1740, 1744, 1748, 1752, 1756, 1760, 1764, 1768, 1772, 1776, 1780, 1784, 1788, 1792, 1796, 1804, 1808, 1812, 1816, 1820, 1824, 1828, 1832, 1836, 1840, 1844, 1848, 1852, 1856, 1860, 1864, 1868, 1872, 1876, 1880, 1884, 1888, 1892, 1896, 1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000]

In [13]:
#q6
def da_hra(basic):
    if basic<=10000:
        hra=0.2*basic
        da=0.8*basic
    elif basic<=20000:
        hra=0.25*basic
        da=0.9*basic
    elif basic>20000:
        hra=0.3*basic
        da=0.95*basic
    return hra,da
hra=basic=int(input('enter the basic salary of person '))
hra,da=da_hra(basic)
print(f'gross salary=da({da})+hra({hra})+basic({basic})={da+hra+basic}')

enter the basic salary of person 15000
gross salary=da(13500.0)+hra(3750.0)+basic(15000)=32250.0

In [1]:
#q7
password=input("enter the password ")
special=['$','#','@']
can_be_made=False
if len(password)<16:
    if len(password)>6:
        for n in password :
            if n.islower():
                lower=1
            elif n.isupper():
                upper=1
            elif n.isnumeric():
                number=1
            elif n in special:
                special=1
        if lower>0 and upper>0 and number>0 and special>0:
            can_be_made=True
if can_be_made:
    print('the password is valid')
else:
    print('the password is invalid')

the password is valid

In [15]:
#q8
l=[]
for i in range(1,9):
    l.append(10*i)
print(f'the list in org is {l}')
l.append(200)
l.append(300)
print(f'the list in i.) is {l}')
l.remove(10)
l.remove(30)
print(f'the list in ii.) is {l}')
l.sort()
print(f'the list in iii.) is {l}')
l.sort(reverse=True)
print(f'the list in iv.) is {l}')

the list in org is [10, 20, 30, 40, 50, 60, 70, 80]
the list in i.) is [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
the list in ii.) is [20, 40, 50, 60, 70, 80, 200, 300]
the list in iii.) is [20, 40, 50, 60, 70, 80, 200, 300]
the list in iv.) is [300, 200, 80, 70, 60, 50, 40, 20]

In [16]:
#q9
d={1:"One",2:"Two",3:"Three",4:"Four",5:"Five"}
print(f'the dictionary originally is {d}')
d[6]="Six"
print(f'the dictionary in i.) is {d}')
d.pop(2)
print(f'the dictionary in ii.) is {d}')
print(f'iii.)the boolean value of is key 6 is present in d is {6 in d}')
total=0
count=0
for i in d.keys():
    total+=i
    count+=1
print(f'iv.)the number of elements is {count}\nv.)the sum of all the values is {total}')

the dictionary originally is {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}
the dictionary in i.) is {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
the dictionary in ii.) is {1: 'One', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
iii.)the boolean value of is key 6 is present in d is True
iv.)the number of elements is 5
v.)the sum of all the values is 19

In [17]:
#q10
def ci(p,r,t):
    return (p*((1+r/100)**t))-p
p,r,t=map(int,input('enter the value of p r and t ').split())
print(ci(p,r,t))

enter the value of p r and t 1000 5 4
215.50625000000014

In [5]:
import q10part1
p,r,t=map(int,input('enter the value of p r and t ').split())
print(q10part1.ci(p,r,t))

215.50625000000014